<%- include('partials/header'); -%>

    <div class="location">
        <i class="fas fa-map-marker-alt"></i>
        <% weatherData.forEach(function(weatherData){ %>
            <h6><%= weatherData.city %></h6>
        <% }) %>
        <p id="curTime"></p>
    </div>

    <div class="container">
        <div class="main">
            <div class="current-city-1">
                <p id="greeting"></p>
            </div>
            <div class="search">
                <form action="/" method="POST" id="search">
                    <input type="text" name="location" id="search_term" placeholder="Start Typing City">
                    <button class="btn-block" type="submit">
                        Search
                    </button>
                </form>
                <div id="match-list"></div>
            </div>

        </div>

    </div>


        <div class="cur-info">
            <% weatherData.forEach(function(weatherData){ %>
                <% if(weatherData.weather === "Rain"){ %>
                    <div class="weather-item">
                        <p>
                            <%= weatherData.temp %>
                        </p>
                    </div>
                    <div class="weather-item">
                        <img src="/img/summer-rain.png" alt="">
                    </div>
                    <div class="weather-item">
                        <p>
                            <%= weatherData.wind %>mph
                        </p>
                    </div>
                    <div class="weather-item">
                        <p>
                            <%= weatherData.temp_min %>
                        </p>
                    </div>
                    <div class="weather-item">
                        <p>
                            <%= weatherData.temp_max %>
                        </p>
                    </div>
                    <% }else if(weatherData.weather === "Clear"){ %>
                        <div class="weather-item">
                            <p>
                                <%= weatherData.temp %>
                            </p>
                        </div>
                        <div class="weather-item">
                            <img src="/img/sunny.png" alt="">
                        </div>
                        <div class="weather-item">
                            <p>
                                <%= weatherData.wind %>mph
                            </p>
                        </div>
                        <div class="weather-item">
                            <p>
                                <%= weatherData.temp_min %>
                            </p>
                        </div>
                        <div class="weather-item">
                            <p>
                                <%= weatherData.temp_max %>
                            </p>
                        </div>
                        <% }else if(weatherData.weather === "Clouds"){ %>
                            <div class="weather-item">
                                <p>
                                    <%= weatherData.temp %>
                                </p>
                            </div>
                            <div class="weather-item">
                                <img src="/img/clouds.png" alt="">
                            </div>
                            <div class="weather-item">
                                <p>
                                    <%= weatherData.wind %>mph
                                </p>
                            </div>
                            <div class="weather-item">
                                <p>
                                    <%= weatherData.temp_min %>
                                </p>
                            </div>
                            <div class="weather-item">
                                <p>
                                    <%= weatherData.temp_max %>
                                </p>
                            </div>

        </div>
        <% } %>
            <% }) %>





    <%- include('partials/footer'); -%>